[submodule "vim-cheat-sheet"]
	path = vim-cheat-sheet
	url = git://github.com/lorin/vim-cheat-sheet.git
[submodule "macos-cheat-sheet"]
	path = macos-cheat-sheet
	url = git://github.com/lorin/macos-cheat-sheet.git
[submodule "docker-cheat-sheet"]
	path = docker-cheat-sheet
	url = git://github.com/lorin/docker-cheat-sheet.git
[submodule "awk-cheat-sheet"]
	path = awk-cheat-sheet
	url = git://github.com/lorin/awk-cheat-sheet.git
[submodule "git-cheat-sheet"]
	path = git-cheat-sheet
	url = git://github.com/lorin/git-cheat-sheet.git
[submodule "mkdocs-cheat-sheet"]
	path = mkdocs-cheat-sheet
	url = git://github.com/lorin/mkdocs-cheat-sheet.git
[submodule "jq-cheat-sheet"]
	path = jq-cheat-sheet
	url = git://github.com/lorin/jq-cheat-sheet.git
[submodule "ipython-cheat-sheet"]
	path = ipython-cheat-sheet
	url = git://github.com/lorin/ipython-cheat-sheet.git
[submodule "ggplot-cheat-sheet"]
	path = ggplot-cheat-sheet
	url = git://github.com/lorin/ggplot-cheat-sheet.git
[submodule "pandas-cheat-sheet"]
	path = pandas-cheat-sheet
	url = git://github.com/lorin/pandas-cheat-sheet.git
[submodule "asciidoc-cheat-sheet"]
	path = asciidoc-cheat-sheet
	url = git://github.com/lorin/asciidoc-cheat-sheet.git
[submodule "time-cheat-sheet"]
	path = time-cheat-sheet
	url = git://github.com/lorin/time-cheat-sheet.git
[submodule "java-cheat-sheet"]
	path = java-cheat-sheet
	url = git://github.com/lorin/java-cheat-sheet.git
[submodule "idea-cheat-sheet"]
	path = idea-cheat-sheet
	url = git@github.com:lorin/idea-cheat-sheet.git
[submodule "cassandra-cheat-sheet"]
	path = cassandra-cheat-sheet
	url = git://github.com/lorin/cassandra-cheat-sheet.git
[submodule "react-cheat-sheet"]
	path = react-cheat-sheet
	url = git@github.com:lorin/react-cheat-sheet.git
[submodule "html-cheat-sheet"]
	path = html-cheat-sheet
	url = git@github.com:lorin/html-cheat-sheet.git
[submodule "net-cheat-sheet"]
	path = net-cheat-sheet
	url = git@github.com:lorin/net-cheat-sheet.git
[submodule "zsh-cheat-sheet"]
	path = zsh-cheat-sheet
	url = git@github.com:lorin/zsh-cheat-sheet.git
[submodule "tlaplus-cheat-sheet"]
	path = tlaplus-cheat-sheet
	url = git@github.com:lorin/tlaplus-cheat-sheet.git
[submodule "gradle-cheat-sheet"]
	path = gradle-cheat-sheet
	url = git@github.com:lorin/gradle-cheat-sheet.git
[submodule "alloy-cheat-sheet"]
	path = alloy-cheat-sheet
	url = git@github.com:lorin/alloy-cheat-sheet.git
[submodule "go-cheat-sheet"]
	path = go-cheat-sheet
	url = git@github.com:lorin/go-cheat-sheet.git
[submodule "python-cheat-sheet"]
	path = python-cheat-sheet
	url = git@github.com:lorin/python-cheat-sheet.git
[submodule "meteor-cheat-sheet"]
	path = meteor-cheat-sheet
	url = git@github.com:lorin/meteor-cheat-sheet.git
[submodule "bootstrap-cheat-sheet"]
	path = bootstrap-cheat-sheet
	url = git@github.com:lorin/bootstrap-cheat-sheet.git
[submodule "javascript-cheat-sheet"]
	path = javascript-cheat-sheet
	url = git@github.com:lorin/javascript-cheat-sheet.git
