[submodule "vim-cheat-sheet"]
	path = vim-cheat-sheet
	url = git://github.com/lorin/vim-cheat-sheet.git
[submodule "macos-cheat-sheet"]
	path = macos-cheat-sheet
	url = git://github.com/lorin/macos-cheat-sheet.git
[submodule "docker-cheat-sheet"]
	path = docker-cheat-sheet
	url = git://github.com/lorin/docker-cheat-sheet.git
[submodule "awk-cheat-sheet"]
	path = awk-cheat-sheet
	url = git://github.com/lorin/awk-cheat-sheet.git
[submodule "git-cheat-sheet"]
	path = git-cheat-sheet
	url = git://github.com/lorin/git-cheat-sheet.git
[submodule "mkdocs-cheat-sheet"]
	path = mkdocs-cheat-sheet
	url = git://github.com/lorin/mkdocs-cheat-sheet.git
[submodule "jq-cheat-sheet"]
	path = jq-cheat-sheet
	url = git://github.com/lorin/jq-cheat-sheet.git
[submodule "ipython-cheat-sheet"]
	path = ipython-cheat-sheet
	url = git://github.com/lorin/ipython-cheat-sheet.git
